<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="container center"><h1>Sign up</h1></div>
<div class="row">
  <div class="col m12">
    <%= render 'form' %>
  </div>
</div>