@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:600|Nunito+Sans|Questrial');

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #ef5350;
 
}
 
 
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #ef5350;
 
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



p {
  line-height: 2rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card img {
  max-height: 300px;
  object-fit: cover;
}
.card img.materialized.active {
  max-height: none;
  object-fit: none;
}

.card {
  height: 780px;
}

.blue-text li a{
  color: #0d47a1;
 }


nav {
  height: 100px;
  line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 100px;
  line-height: 100px;
}

nav .button-collapse i {
  height: 100px;
  line-height: 100px;
}

nav .brand-logo { 
  font-size: 2 rem; 
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 100px;
      line-height: 100px;
  }
}

.hdblue-text {
  color: #5BA8DD;
}
.hdred-text {
  color: #F15F75;
}
.hdgold-text {
  color: #F1B676;
}

.hdblue {
  background-color: #5BA8DD;
}
.hdred {
  background-color: #F15F75;
}
.hdgold {
  background-color: #F1B676;
}

.home_header {
  height: 1000px;
  width: 100%;
  background-image: url(https://uploads-ssl.webflow.com/5af2f6c042cd7abaee458b4e/5b51fe4aef1d585bcf489327_hero_mockup2.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-position: 50% 47%;
  background-attachment: scroll;
  direction: ltr;
  overflow: visible;
  position: static;
  padding-bottom: 0;
}

@media screen and (max-width: 992px) {
  .home_header {
    height: 1000px;
    background-size: auto 1000px;
  }
}

@media screen and (max-width: 450px) {
  .home_header {
    height: 500px;
    background-image: none;
    background-color: #e8e6e8;
  }
}

.logos-list {
  background-color: #e8e6e8;
  height: 200px;
}

.testimonials {
  background-color: #5BA8DD;
  height: 400px;
}
