
<footer class="page-footer indigo">
  <div>
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">We're fixing primary care</h5>
        <p class="grey-text text-lighten-4">We've built a network of world-class doctors across the country to help companies fix their healthcare.</p>


      </div>
      <div class="col l3 s12 white-text">
        <h5>Connect</h5>
        <ul>
          <li><i class="fa fa-book"></i><a href=<%= about_path %> class="grey-text text-lighten-3">  About Us</a></li>
          <li><i class="fa fa-envelope"></i><a href=<%= contact_path %> class="grey-text text-lighten-3">  Contact Us</a></li>
          <li><i class="fa fa-linkedin"></i><a href='#' class="grey-text text-lighten-3">  LinkedIn</a></li>
          <li><i class="fa fa-facebook"></i><a href='#' class="grey-text text-lighten-3">  Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="white-text" href=<% root_path %>>HealthDirectly 2018</a>
    </div>
  </div>
</footer>